#accordion {
    list-style:none;
    margin-bottom: 30px;
    padding:0;
    height:370px;
    width: 100%;
    overflow:hidden;
}

#accordion .panel-accordion {
    float:left;
    display:block;
    height:370px;
    width:44px;
    overflow:hidden;
    color:#666666;
    text-decoration:none;
    font-size:16px;
    line-height:1.5em
}
#accordion .panel-accordion.active {
    width: 88%;
}
.panelContent {
    padding:0px 15px 15px 55px;
    height:240px;
    width:100%;
}
.header {
    width:50px;
    height:100%;
    float:left;
    background: #333;
    border-left:2px solid white;
    cursor:pointer
}

.last {
    border:none
}

.numeros_accordion {
    font-size: 1.5em;
    padding: 10px 5px 0 5px;
    color: white;
    text-align: center;
}

.titulos_accordion {
    font-size: 1.5em;
    padding: 10px 5px 0 5px;
    color: #00555f;
}