body {
    width: 100%;
    height: 100%;
    font-family: "cuprumregular" !important;
}

html {
    width: 100%;
    height: 100%;

}

/*COLORES*/
.azul_FCE {color: #0065a4}
.azul_FCE_bg {background-color: #0065a4}
.azul_FCE_apagado {color: rgba(0,101,194,0.5);}
.azul_FCE_apagado_bg {background-color: rgba(0,101,194,0.5);}
.blanco {color: #fff}
.gris_table {color: #f5f5f5}
.gris_table_bg {background-color: #f5f5f5}

/* I N  D E X*/


/*TOP*/
.cuadro-superior{
	min-height: 40%;
	background-color: #fff;
	position: relative;
}

.contenedor_logos {
	position: absolute;
	width: 100%;
	bottom: 10px;
}

.border_left {
	border-left: 1px solid #555
}

a:hover, a:focus {text-decoration: none;}
	 

@media (min-width: 768px) { 
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.img-center{
    	display: block;
    	margin: 0 15%;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.img-center{
    	display: block;
    	margin: 0 25%;
	}
}


/*BOTTOM*/
.cuadro-inferior{
	min-height: 60%;
	width: 100%;
  position: fixed;
  bottom: 0px
}

.cuadro-inferior img {
    position: fixed;
    bottom: -1px;
    right: -1px;
}

.contacto {
    position: fixed;
    bottom: 10px;
}



/* COLORES*/

.blanco {color: #fff;}

.titulo_index{
	padding-top: 15px;
	font-size: 3em;
	color: #fff;
	margin-bottom: 7px;
	/*text-shadow: 2px 2px 12px rgba(0,0,0,1);*/
}

.texto_404{
	padding-top: 15px;
	font-size: 2em;
	color: #fff;
	margin-bottom: 7px;
}

.marco_negro{
	width: 100%;
	height: 80px;
	background-color: rgba(0,0,0,0.8);
	z-index: -1;
	position: absolute;
}

.marco_negro_B{
	width: 100%;
	height: 37px;
	margin-top: 80px;
	background-color: rgba(0,0,0,0.2);
	z-index: -1;
	position: absolute;
}

.secciones_index{
	font-size: 1.7em;
	text-decoration: none;
	color: #fff;
	/*text-shadow: 2px 2px 12px rgba(0,0,0,1);*/
}

		.secciones_index a {color: white; padding: 5px 15px;}
		.secciones_index a:visited {color: white; text-decoration: none}
		.secciones_index a:focus {color: #fff; background-color: rgba(0, 0, 0, 0.8); text-decoration: none}
		.secciones_index a:hover {color: #fff; background-color: rgba(0, 0, 0, 0.8); text-decoration: none}
		.secciones_index a:active {color: white; text-decoration: none}


/* MENU */

.icon_menu{
	padding: 20px 5px 20px 20px;
	position: absolute;
	z-index: 2;
	font-size: 1.5em;
}

.icon_home{
	padding: 20px 20px 20px 65px;
	position: absolute;
	z-index: 1;
	font-size: 1.5em;
}

.icon_administracion{
	padding: 20px 20px 20px 110px;
	position: absolute;
	z-index: 0;
	font-size: 1.5em;
}

.icon_administracion_index{
	padding: 20px 20px 20px 65px;
	position: absolute;
	z-index: 1;
	font-size: 1.5em;
}



.logo_labdata{
	padding: 74px 22px 10px;
	color: #fff;
}

#Menu {
    width: 200px;
    height: 100%;
    z-index: 1;
    position: fixed;
    background: url('../images/menu-variables.jpg');
    background-repeat: no-repeat;
}

		#Menu a {
			color: white;

		}
		#Menu a:visited {color: white}
		#Menu a:focus {color: white}
		#Menu a:hover {}
		#Menu a:active {color: #00555f}


@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300italic,300);
*{
	margin: 0;
	padding: 0;
}

nav{
	padding-top: 30px;
	width: 100%;
	height: calc(100% - 50px);
	float: left;
}

#content {
	width: :auto;
	margin-left: 250px;
	height: calc(100% - 50px);
	padding: 15px
}

nav li{
	list-style: none;
}

nav li a{
	color: #ccc;
	display: block;
	padding: 10px 25px 10px 10px;
	border-bottom: 1px solid #0a0a0a;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}

nav li a:hover{
	background-color: #030303;
	color: #fff;
	padding-right: 80px;
}

nav ul > li > ul {
	display: none;
}

nav ul li:hover  ul{
	display: block;
}


.footer_menu {
	font-size: 0.9em;
	margin: 0px;
}

.contacto_menu {
		width: 200px;
		background-color: rgba(0,0,0,0.8);
		padding: 10px 22px 10px; 
    position: fixed !important;
    bottom: 0px;
    left: 0px;
    z-index: 2
}

.iniciar_sesion {
	padding: 10px 0px 10px 5px;
	color: #fff;
	font-size: 1.3em;
  text-decoration: none;
}

.iniciar_sesion:hover {text-decoration: none; color: #fff} 
.iniciar_sesion:visited {text-decoration: none; color: #fff} 
.iniciar_sesion:active {text-decoration: none; color: #fff} 
.iniciar_sesion:focus {text-decoration: none; color: #fff} 

.contacto_menu a {
	padding: 10px 0px 10px 5px;
	color: #fff;
	font-size: 1.12em;
  text-decoration: none;
}


#form_login{
		width: 200px !important;
		background-color: rgba(0,0,0,0.8);
    position: fixed !important;
    bottom: 125px;
    left: 0px;
    z-index: 3;
    padding: 20px;
    border-radius: 0px
}

.header_frontend{
	border-bottom: 2px solid #00555f;
}

.header_izquierda{
/*margin-left: 75px*/
}


.dropdown-menu{
	border: none;
	box-shadow: none
}

.dropdown-menu>.active>a {
	background-color: #555
}

.dropdown-menu>.active>a:hover {
	background-color: #444
}

.dropdown-login{
  min-width: 200px;
  padding: 14px 14px 0;
  overflow: hidden;
}

.texto-vertical-2 {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-size: 1.5em;
    padding: 0px 12px 17px 5px;
    color: white;
}

.numeros_accordion {
    text-align: center;
}

.titulos_accordion {
    font-size: 1.5em;
    padding: 10px 5px 0 5px;
    color: #333;
}


.list-group button > input{
	display: none
}

.btn-none: {
	    color: transparent;
    background-color: none;
    border-color: none;
}

.btn-none:active {
	  background-color: transparent !important;
    border-color: none;
    box-shadow: none !important
}

.btn:active {
	  background-color: transparent !important;
    border-color: none;
    box-shadow: none !important
}

.btn-none:focus {
	  background-color: transparent !important;
    border-color: none;
    box-shadow: none !important
}

button { 
	background-color: transparent;
	box-shadow: none !important;
}


.altura {
	height: 50px;
}

/*
.list-group .btn {
	padding: 0px !important
}*/

.panel-default {
	border: none;
}

.panel-default>.panel-heading{
	background-color: #0065a4;

}

.list-group-item {
	border: none;
}

.var_nivel_1 {
	background-color: #0065a4 !important;
}

.var_nivel_2 {
	background-color: #8c8c8b !important;
}

.var_nivel_3 {
	background-color: #c6c6c5 !important;
}

.help-block {
	margin-bottom: 0px !important;
}

.buscador {
	margin-top: 30px;

}

.well_fce {
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.indice_variables {
	padding-left: 20px
}

.subcategoria {
	padding-left: 10px;
}

.page-header .breadcrumb {
	  position: absolute;
    top: 0px;
}